<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/services.css" />
    <link rel="stylesheet" href="/css/admin.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <!-- fonts awesome -->
    <link rel="stylesheet" href="/css/all.min.css" />
    <script src="https://kit.fontawesome.com/66f7f9abfb.js" crossorigin="anonymous"></script>
    <!--Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;800&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Start Header -->
    <div class="header" id="header">
        <div class="container">
            <a href="#" class="logo"><img src="/imgs/logoo.png"> Warm Hands </a>
            <ul class="main-nav">

                <li><a href="#features"> Users</a></li>
                <li><a href="#bookings"> Bookings</a></li>
                <li><a href=""> Schedules</a></li>
                <li><a href=""> Events</a></li>
                <li><a href=""> Blogs</a></li>
                <li><a href="/signin"><i class="fa-solid fa-arrow-right-from-bracket"></i>&nbsp; Log out</a></li>
            </ul>
        </div>
    </div>
    <!-- End Header -->
    <!-- start dashboard-->
    <div class="container">
        <div class="features" id="features">
            <h2 class="main-title">Users</h2>
            <div class="content">
                <div class="cards">
                    <div class="card">
                        <div class="box1">
                            <h1 class="user">
                                <%=counts.patientsCount%>
                            </h1>
                            <h2><i class="fa-solid fa-wheelchair "></i>Patients</h2>

                        </div>
                    </div>
                    <div class="card">
                        <div class="box1">
                            <h1 class="user">
                                <%=counts.caregiversCount%>
                            </h1>
                            <h2><i class="fa-solid fa-hand-holding-medical"></i>Care givers</h2>

                        </div>
                    </div>
                    <div class="card">
                        <div class="box1">
                            <h1 class="user">
                                <%=counts.daycaresCount%>
                            </h1>
                            <h2><i class="fa-solid fa-handshake-angle"></i>Day care</h2>

                        </div>
                    </div>
                    <div class="card">
                        <div class="box1">
                            <h1 class="user">
                                <%=counts.volunteersCount%>
                            </h1>
                            <h2><i class="fa-solid fa-hand-holding-hand"></i> Volunteers</h2>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end dashboard-->

    <!-- start bookings-->
    <div class="bookings" id="bookings">
        <h2 class="main-title">Bookings</h2>
        <div class="container">
            <% for(let i=0; i < bookings.length; i++) { %>
                <div class="box">
                    <img src="" alt="" />
                    <div class="content1">
                        <h3>Patient: <%=bookings[i].booking.user.firstName%> <%=bookings[i].booking.user.lastName%></h3>
                        <p>Phone number: <%=bookings[i].booking.user.phoneNumber%>
                        <br>Gender: <%=bookings[i].booking.user.gender%>
                        <%if (bookings[i].schedule.user.type === 'caregiver') {%>
                            <br> Rate/Week: <%=bookings[i].schedule.user.fees%>
                            <br> From: <%=bookings[i].schedule.dayFrom%>
                            <br> To:   <%=bookings[i].schedule.dayTo%>
                        <%} else {%>
                            <br> Rate/Hour: <%=bookings[i].schedule.user.fees%>
                            <br> Day: <%=bookings[i].schedule.day%>
                            <br> From: <%=bookings[i].schedule.hourFrom%>
                            <br> To: <%=bookings[i].schedule.hourTo%>
                        <%}%>
                        
                    </div>    
                </div>
            <% } %>
            <!-- <div class="box">
                <img src="" alt="" />
                <div class="content1">
                    <h3>Name</h3>
                    <p>Gender <br>City <br> Experience level<br>Rate/hour or day <br> Birthdate<br></p>
                </div>
            </div> -->
        </div>
        <!-- end bookings-->
        <!-- start schedule-->
        <div class="schedules" id="schedules">
            <h2 class="main-title">Schedules</h2>
            <div class="container">
                <div class="box">
                    <img src="" alt="" />
                    <div class="content1">
                        <h3>Name</h3>
                        <p>Gender <br>City <br> Experience level<br>Rate/hour or day <br> Birthdate<br></p>
                    </div>
                    <div class="info">
                        <a href="scheduleadmin.html">show schedule</a>

                    </div>
                </div>
                <!-- end schedule-->

                <script src="main.js"></script>
</body>

</html>