<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" rel="stylesheet" type="text/css" href="/css/services.css" />
    <link rel="stylesheet" rel="stylesheet" type="text/css" href="/css/normalize.css" />
    <!-- fonts awesome -->
    <link rel="stylesheet" rel="stylesheet" type="text/css" href="/css/all.min.css" />
    <script src="https://kit.fontawesome.com/66f7f9abfb.js" crossorigin="anonymous"></script>
    <!--Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;800&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Start Header -->
    <div class="header" id="header">
        <div class="container">
            <a href="#" class="logo"><img src="/imgs/logoo.png"> Warm Hands</a>
            <ul class="main-nav">
                <li><a href="#daycare"> Day care</a></li>
                <li><a href="#caregivers"> Care givers</a></li>
                <li><a href="#volunteers"> Volunteers</a></li>

                <li>
                    <a href="#">Warm hands</a>
                    <!-- Start Megamenu -->
                    <div class="mega-menu">

                        <ul class="links">
                            <li><a href="#articles"><i class="fa-regular fa-pen-to-square"></i> Blogs</a></li>
                            <li><a href="#events"><i class="fa-regular fa-calendar-days"></i> Events</a></li>
                            <li><a href="services.html" target="_blank"><i class="fa-solid fa-handshake-angle"></i>
                                    Services</a></li>
                            <li><a href="aboutus.html" target="_blank"><i class="fa-regular fa-address-card"></i> About
                                    us</a></li>
                            <li><a href="FAQs.html" target="_blank"><i class="fa-solid fa-clipboard-question"></i>
                                    FAQs</a></li>
                            <li><a href="contact us.html" target="_blank"><i class="far fa-comments fa-fw"></i> Contact
                                    Us</a></li>



                        </ul>

                    </div>
                    <!-- End Megamenu -->

                <li><a href="contact us.html" target="_blank"><i class="fa-solid fa-arrow-right-from-bracket"></i>&nbsp;
                        Log out</a></li>
            </ul>
        </div>
    </div>
    <!-- End Header -->
    <!-- Start landing-->

    <div class="landing">
        <div class="container">
            <div class="text">
                <h1>Welcome, To Warm Hands</h1>
                <p>Having disabilities is not the problem. <br> Having a bad mentality is. You are not alone.</p>
            </div>
            <div class="image">
                <img src="/imgs/landing.png" alt="" />
            </div>
        </div>
        <a href="#daycare" class="go-down">
            <i class="fas fa-angle-double-down fa-2x"></i>
        </a>
    </div>

    </div>
    </div>
    </div>
    </div>
    <!-- End landing -->
    <!-- Start daycare -->
    <div class="daycare" id="daycare">
        <h2 class="main-title">Day care</h2>
        <div class="container">
            <% for(let i=0; i < daycares.length; i++) { %>
                <div class="box">
                    <img src="" alt="" />
                    <div class="content">
                        <h3>Name: <%= daycares[i].firstName %> <%= daycares[i].lastName %></h3>
                        <p>Gender: <%= daycares[i].gender %> 
                            <br>City: <%= daycares[i].country %> 
                            <br>Experience level: <%= daycares[i].experience %> 
                            <br>Rate/hour: <%= daycares[i].fees %>$
                            <br>Age: <%= daycares[i].age %> years
                            <br>
                        </p>
                    </div>
                    <div class="info">
                        <a href="payment.html">Book</a>
                        <i class="fas fa-long-arrow-alt-right"></i>
                    </div>
                </div>
             <% } %>
        </div>
    </div>

    <div class="spikes"></div>
    <!-- End daycare -->
    <!-- Start caregivers -->
    <div class="caregivers" id="caregivers">
        <h2 class="main-title">Care givers</h2>
        <div class="container">
            <% for(let i=0; i < caregivers.length; i++) { %>
                <div class="box">
                    <img src="" alt="" />
                    <div class="content">
                        <h3>Name: <%= caregivers[i].firstName %> <%= caregivers[i].lastName %></h3>
                        <p>Gender: <%= caregivers[i].gender %> 
                            <br>City: <%= caregivers[i].country %> 
                            <br>Experience level: <%= caregivers[i].experience %> 
                            <br>Rate/Week: <%= caregivers[i].fees %>$
                            <br>Age: <%= caregivers[i].age %> years
                            <br>
                        </p>
                    </div>
                    <div class="info">
                        <a href="payment.html">Book</a>
                        <i class="fas fa-long-arrow-alt-right"></i>
                    </div>
                </div>
             <% } %>
        </div>
    </div>

    <div class="spikes"></div>
    <!-- End caregivers -->
    <!-- Start volunteers -->
    <div class="volunteers" id="volunteers">
        <h2 class="main-title">Volunteers</h2>
        <div class="container">
            <% for(let i=0; i < volunteers.length; i++) { %>
                <div class="box">
                    <img src="" alt="" />
                    <div class="content">
                        <h3>Name: <%= volunteers[i].firstName %> <%= volunteers[i].lastName %></h3>
                        <p>Gender: <%= volunteers[i].gender %> 
                            <br>City: <%= volunteers[i].country %> 
                            <br>Experience level: <%= volunteers[i].experience %>
                            <br>Age: <%= volunteers[i].age %> years
                            <br>
                        </p>
                    </div>
                    <div class="info">
                        <a href="payment.html">Book</a>
                        <i class="fas fa-long-arrow-alt-right"></i>
                    </div>
                </div>
             <% } %>
        </div>
    </div>

    <div class="spikes"></div>
    <!-- End volunteers -->
    <!-- Start Articles -->
    <div class="articles" id="articles">
        <h2 class="main-title">Blogs</h2>
        <div class="container">
            <div class="box">
                <img src="" alt="" />
                <div class="content">
                    <h3>How to Improve Students With Disabilities’ Sense of Belonging </h3>
                    <p><br>

                        By focusing on play, schools are finding ways to bring students with and without disabilities
                        together, to the benefit of both groups.
                        Alone, isolated, left out: This is the way most students with special needs feel in school,”
                        says Jayne Clare, a veteran special education teacher. A study published in 2001 suggested that
                        it’s not just a feeling: Students with disabilities are often deliberately excluded by their
                        peers in academic and extracurricular settings.
                        Ellen Stumbo, who is the mother of a child with Down syndrome, wrote in 2019 that at her
                        daughter’s school, students with disabilities were not included in the yearbook. Being excluded
                        or separated from their peers at school events like field trips, award ceremonies, and dances
                        was all too common, Stumbo noted.

                        GOING BEYOND ACCESS: REACHING INCLUSION

                        That’s not the case at all schools, of course: Some, like McKinley Elementary School in Santa
                        Monica, California, prioritize social inclusion throughout the school day, in part by focusing
                        on how students interact in unstructured time like recess.
                        To meet the needs of students with disabilities—in particular their need to feel like they
                        belong in the school community—McKinley has partnered with Inclusion Matters by Shane’s
                        Inspiration, a nonprofit that aims to eliminate bias toward children with disabilities through
                        play.
                        The team at Inclusion Matters started out thinking that their mission was simply to remove the
                        physical barriers to play for children with disabilities. But they quickly realized that they
                        would have to address a variety of social barriers as well in order to help those children feel
                        included.
                        “For children with disabilities to feel truly included, it requires looking at what the
                        invisible barriers are—the misconceptions, the perception that they are somehow less capable,
                        seen as less valuable than their peers without disabilities,” says Marnie Norris, director of
                        programs at Inclusion Matters.
                        To facilitate social interaction between students with and without disabilities, Inclusion
                        Matters orchestrates field trips between general and special education classes to inclusive
                        playgrounds, which are designed so that children with and without disabilities can play together
                        throughout the whole site. It’s a free program for public schools that has served over 45,000
                        students in more than 250 schools around the world.
                        Play is something that all kids—regardless of ability—can enjoy together, but simply throwing
                        them together on the playground won’t ensure that they play together. Inclusion Matters created
                        an ability-awareness workshop to help general education students acknowledge and challenge their
                        biases toward people with disabilities, as a way to remove one barrier to social inclusion.
                        Grouping two general education students with one special education student as buddies bypasses
                        another roadblock by ensuring that students interact with each other. And by letting the general
                        education students know their buddies’ interests, abilities, and limitations beforehand, the
                        workshop guides the students to enjoy each other and have fun.
                        After the field trip, general education students participate in a 45-minute reflection workshop
                        in which they consider how their beliefs changed and how they’ll interact with their peers with
                        disabilities in the future.
                        “We’ve seen this program transform school campuses,” says Norris. “We’ve seen schools go from
                        having children with more severe disabilities who’ve never interacted with their peers to
                        organically interacting with each other. It’s transformative, and not as complicated as people
                        might think it is.”
                        Play is not the only way schools foster social inclusion, though. In February 2020, the 15th
                        annual Super Kids Bowl in California’s Hemet Unified School District featured cheerleaders and
                        the marching band celebrating elementary special education students as they ran down the field
                        and scored a touchdown with the football team.
                        On an Inclusion Matters field trip, a general education student and her buddy play together.

                        Fairfax County Public Schools in Virginia brings middle and high school students with and
                        without disabilities together to engage in service projects, giving them all a chance to develop
                        relationships with their peers and do something useful for their community. Inclusion efforts
                        can be simpler than that, too: Special and general education students at Salem Junior High and
                        Salem High School in Ohio meet once a month in the library to have lunch and do activities
                        together.
                        Working toward social inclusion can be as simple as talking with general education students
                        about students with disabilities. “It’s important that we be models for our students, and if
                        we’re afraid to talk about something, they’ll think that means that something is wrong,” says
                        Ashley Benjamin, the principal of McKinley Elementary School.
                        IMPROVING SCHOOL CLIMATE

                        Inclusion Matters’ program has had a wide-reaching impact at McKinley Elementary. Parents of
                        general education students have asked McKinley special education teacher Keylee Cubillas how
                        they can include her students and their families at events and holiday parties. And the parents
                        of Cubillas’s students have told her that they’re happy with the inclusion efforts. They want
                        their children to be happy and to develop their social and adaptive skills, says Cubillas, and
                        being included in the school community helps achieve both goals.
                        The buddy relationships deepen with time: “If any of Keylee’s students pass us on campus, you
                        would think they were a rock star with how excited my students are to see their buddies and
                        interact with them,” fourth-grade teacher Katy Buckner says.
                        Buckner also points out that the buddy relationships are not a form of charity, telling her
                        students, “This isn’t about you helping someone. That can be part of it, but it’s also about
                        what gifts do both buddies on both ends have to bring to each other.”
                        Buckner has noticed her students learning sign language to communicate with their buddies and
                        using person-first language instead of ability-centered language when talking about students or
                        fictional characters with disabilities—they have developed greater empathy through their
                        interactions with their buddies.
                        That’s a process that takes time. Even when schools partner with organizations like Inclusion
                        Matters, working toward inclusion is “not just one quick trip. It’s something that has a lasting
                        impact. It shapes how students act, think, and feel about differences. It’s shaping who children
                        are and how they’re going to interact with others in the world and society,” says Benjamin.
                        <br><br><br><br><br><br><br>
                    </p>
                </div>
                <div class="info">
                    <a href=""> Educational blog</a>

                </div>
            </div>
            <div class="box">
                <img src="" alt="" />
                <div class="content">
                    <h3> Importance of special education</h3>
                    <p>Every child has the right to the same opportunities as others, regardless of the difficulties
                        they face. Special education is of great importance for children with learning disabilities,
                        because it gives them the opportunity to get quality education in line with their unique needs.
                        Special education enables every student to gain a high level of independence and reach their
                        full potential.
                        According to UNICEF, about 93 million children around the world have been diagnosed with some
                        form of disability. Over 50% of that number do not attend school at all, which robs them of the
                        right to a better life. Aware of the importance of special education, countries around the world
                        have developed different systems aimed at improving child care, education, and the quality of
                        life in general. To achieve that goal, various laws have been passed to adequately address and
                        solve the problems of children with special needs.
                        In the United States, the significance of special education is primarily defined by the
                        following laws: Individuals with Disabilities Education Act (IDEA), Americans with Disabilities
                        Act of 1990 and Rehabilitation Act of 1973 (specifically Section 504). These laws define the
                        rights of individuals with disabilities, protecting them from discrimination in everyday life.
                        In addition, these documents guarantee the human rights of individuals with disabilities, and
                        modify the education system in order to ensure equal opportunities for education and a better
                        life for all.
                        This is primarily possible thanks to IDEA which, as a federal law, defines ways in which the
                        state finances special needs education. Thanks to IDEA, parents can apply for help and ask for
                        special educational conditions for their children, regardless of whether they have a
                        developmental, mental, emotional, or physical disability.

                        Free and appropriate public education

                        The laws mentioned above provide students with disabilities access to educational services that
                        allow them to enjoy the same rights as students without disabilities, setting forth a framework
                        describing that instruction should be provided in a regular classroom, a classroom specially
                        modified to meet the special needs of students, or under special conditions (individualized
                        education or instruction in small groups in a special-needs classroom). It is also important to
                        note that public schools are obligated to provide special educational conditions at no
                        additional cost.
                        In order to meet specific student needs an Individualized Educational Plan (IEP) is created for
                        each child with learning disabilities. This way, the school designs an educational plan they
                        need to implement based on the identified disability. The IEP is designed by a team comprising
                        teachers, specialists (e.g. special education teachers) and family. The role of parents is
                        crucial in this process, because they know their child best, and can provide a lot of valuable
                        information.
                        The goal is to provide the child with the necessary support so that they can advance and get a
                        quality education. Thanks to the IEP program, many special-needs students achieve results on par
                        with the results of regular students.
                        The importance of special education lies in the fact that it helps children with special needs
                        to exercise different rights that used to be inaccessible:

                        Providing an adequate learning environment

                        Children with special needs, e.g. autism, visual and hearing impairment, or speech and language
                        impairments can participate in instruction and school life to a great extent on equal terms with
                        other children. Schools have proven methods to involve them in lessons so that they feel
                        accepted, while at the same time fulfilling the primary educational mission.
                        In cases when this is not possible, because children require special learning conditions,
                        teachers who specialize in the field of special education, and other experts are hired to work
                        with the child (physical therapy, occupational therapy, speech and language therapy).

                        Respecting the principle of equality in all segments of education

                        Education doesn’t only involve classroom instruction, but also other activities where children
                        should have equal opportunities. Sport is an important segment of education, and a great
                        opportunity for everyone to feel welcome and accepted. This is why all children, regardless of
                        their impairments, are actively involved in this segment of education. The same applies to all
                        other school activities, such as drama and music clubs. This way, the school helps children to
                        be accepted, while at the same time teaching other children to be tolerant and accepting of
                        differences.

                        Positively impacting mental health

                        A quality and well-designed learning disability education positively impacts the child’s
                        psychological development. Regardless of impairments, with the right approach, the child will
                        not be excluded and alienated, but will have a fulfilling social life. A better understanding of
                        their disability by other children will lead to their acceptance as equal members of the
                        community.

                        Why is special education an important element of the basic education program?

                        Differentiated education is a modified form of the basic education program, meaning that the
                        same material is covered yet in a different way. Through differentiation, material is broken
                        down in line with the students’ needs depending on the difficulties the child needs to overcome
                        in order to effectively learn.
                        Research data show that children with disabilities spend 80% of their time in general education
                        classrooms, which means that they attend regular education. In other words, they learn the same
                        material, except that certain things are done differently. Thus, for example, potential
                        difficulties with reading or writing will be resolved through oral exams. In that sense, special
                        education should be an integral part of the basic education program with teachers trained to
                        work in an inclusive learning environment.

                        The value of aided education

                        The most important mission of special education is to provide students with special needs with
                        development opportunities and a learning process that will improve the quality of their life.
                        This can only be done through the cooperation of schools and government institutions that
                        provide free appropriate education. This way, children acquire knowledge in line with their
                        unique needs and abilities, with the help of special educators and advanced classrooms.
                        This process has a great value for society as a whole, because special-needs children get the
                        opportunity to be accepted into the community, which helps them to become more independent and
                        happier, surrounded by people who understand their needs and support them at every step of the
                        way.
                    </p>
                </div>
                <div class="info">
                    <a href="">Educational blog</a>

                </div>
            </div>
            <div class="box">
                <img src="" alt="" />
                <div class="content">
                    <h3>Mental health for all.</h3>
                    <p>Adults with disabilities report experiencing frequent mental distress almost 5 times as often as
                        adults without disabilities. <br> Call your doctor if your mental health gets in the way of your
                        daily activities for at least 14 days in a month.<br>Adults with disabilities report
                        experiencing frequent mental distress almost 5 times as often as adults without disabilities.
                        <br> Call your doctor if your mental health gets in the way of your daily activities for at
                        least 14 days in a month.<br>
                        <br>Many Adults with Disabilities Report Frequent Mental Distress
                        <br>A recent study found that adults with disabilities report experiencing more mental distress
                        than those without disabilities.2 In 2018, an estimated 17.4 million (32.9%) adults with
                        disabilities experienced frequent mental distress, defined as 14 or more reported mentally
                        unhealthy days in the past 30 days.<br> Frequent mental distress is associated with poor health
                        behaviors, increased use of health services, mental disorders, chronic disease, and limitations
                        in daily life.<br>2
                        <br>During the COVID-19 pandemic, isolation, disconnect, disrupted routines, and diminished
                        health services have greatly impacted the lives and mental well-being of people with
                        disabilities.3
                        <br>Call your healthcare provider if stress gets in the way of your daily activities for several
                        days in a row. Free and confidential resources can also help you or a loved one connect with a
                        skilled, trained counselor in your area

                        <b> It’s Okay Not to Feel Okay</b>

                        Everyone reacts differently to stressful situations. How you respond to stressful situations,
                        such as the COVID-19 pandemic, can depend on your background, your support systems (e.g. family
                        or friends), your financial situation, your health and emotional background, the community you
                        live in, and many other factors.
                        People with disabilities or developmental delays may respond strongly to the stress of a crisis,
                        particularly if they are also at higher risk for serious illness from COVID-19 (for example,
                        older people and people of any age with certain underlying medical conditions).

                        <br>How Are You Feeling?

                        <br>We are often asked this question, and many of us say we’re “fine.” But this has been a
                        difficult time lately, and emotions can be complex. You may be feeling sad, worried, or
                        stressed.
                        It helps to stay positive and remind yourself of your strengths. Visit How Right Nowexternal
                        icon for inspiration and resources to find what helps.

                        Healthy Ways to Cope with Stress<br>

                        Know what to do if you are sick and are concerned about COVID-19. Contact a health provider
                        before you start any self-treatment for COVID-19.

                        <br>Know where and how to get mental health treatment and other support services and resources,
                        including counseling or therapy (in person or through telehealth services).

                        <br>Take care of your emotional health. Taking care of your emotional health will help you think
                        clearly and react to urgent needs to protect yourself and your family.

                        <br>Take breaks from watching, reading, or listening to news stories, including those on social
                        media. Hearing about the pandemic repeatedly can be upsetting.

                        <br>Take care of your body.

                        <br>Take deep breaths, stretch, or meditateexternal icon

                        <br>Try to eat healthy, well-balanced meals
                        balanced meals

                        <br>Exercise regularly

                        <br>Get plenty of sleep

                        <br>Avoid excessive alcohol and drug use

                        <br>Make time to unwind. Try to do some other activities you enjoy.

                        <br>Connect with others. Talk with people you trust about your concerns and how you are feeling.
                        During times of increased social distancing, people can still maintain social connections and
                        care for their mental health. Phone calls or video chats can help you and your loved ones feel
                        socially connected, less lonely, or isolated.

                        <br>Connect with your community- or faith-based organizations. While social distancing measures
                        are in place, consider connecting online, through social media, or by phone or mail.

                        <br>Improving the Mental Health of People with Disabilities

                        <br>CDC provides funding for two National Centers on Disability that focus on improving the
                        quality of life for people living with disabilities.
                        <br>Special Olympics’ Inclusive Healthexternal icon programming focuses on improving the
                        physical and social-emotional well-being of people with intellectual disabilities by increasing
                        inclusion in health care, wellness, and health systems for Special Olympics athletes and others
                        with intellectual disabilities.
                        <br>Special Olympics’ Strong Mindfulness program offers free, 1-hour mindfulness sessions for
                        people with intellectual disabilities and their familiesexternal icon. Participants learn deep
                        breathing techniques, body awareness and progressive muscle relaxation, mindful movement, and
                        guided meditation. They also receive a Strong Minds Activity Guidepdf iconexternal icon designed
                        to help them develop their coping skills in everyday life.
                        <br>The National Center on Health, Physical Activity and Disability (NCHPAD)external icon seeks
                        to help people with disabilities and other chronic health conditions achieve health benefits
                        through increased participation in all types of physical and social activities. NCHPAD’s
                        M.E.N.T.O.R Special Olympics’ Strong Mindfulness program offers free, 1-hour mindfulness
                        sessions for people with intellectual disabilities and their familiesexternal icon. Participants
                        learn deep breathing techniques, body awareness and progressive muscle relaxation, mindful
                        movement, and guided meditation. They also receive a Strong Minds Activity Guidepdf iconexternal
                        icon designed to help them develop their coping skills in everyday life.
                        <br>The National Center on Health, Physical Activity and Disability (NCHPAD)external icon seeks
                        to help people with disabilities and other chronic health conditions achieve health benefits
                        through increased participation in all types of physical and social activities. NCHPAD’s
                        M.E.N.T.O.R programexternal icon, which stands for Mindfulness, Exercise and Nutrition to
                        Optimize Recovery, takes a holistic approach to restoring, improving, and protecting health. The
                        program divides health into three domains: physical, mental, and emotional. Through this
                        program, people who have acquired a new disability (e.g., spinal cord injury, stroke, traumatic
                        brain injury), a new diagnosis (e.g., multiple sclerosis, Parkinson’s disease), or have a
                        congenital condition (e.g., cerebral palsy, spina bifida) learn the many ways life can be
                        enhanced through health and wellness activities.
                        <br><br><br><br><br>
                    </p>
                </div>
                <div class="info">
                    <a href="">Educational blog</a>

                </div>
            </div>

            <div class="box">
                <img src="" alt="" />
                <div class="content">
                    <h3>A Step-by-Step Guide to Talking about Consent with Disabled Kids!</h3>
                    <p>You can use consent to promote a sense of physical empowerment in your kid by following these
                        four steps!

                        Always ask for consent before touching your child! Some ways you can ask for consent include,
                        “Would you like a hug?”, “Can I give you a kiss?” or “Would you prefer a fist bump, high-five,
                        or hug?”

                        Communicate openly with your child about their physical wants and needs. If there’s a situation
                        where a child needs to be touched for safety reasons (such as holding hands while crossing the
                        street) make sure they understand why it is necessary for their safety, and be sure to reach a
                        shared agreement about holding hands, so they still have a sense of control over their body in
                        the situation. And if they still don’t give consent, there’s always another option–like having
                        your child hold onto your backpack strap or sleeve while crossing.

                        Teach your child how to ask for consent before touching others.

                        Ensuring that your kid asks others for consent shows them that everyone has the right to
                        personal autonomy over their own body! And it will help them learn how to set, negotiate, and
                        respect personal boundaries with peers and authority figures alike.

                        Encourage other adults in your kid’s life to always ask for consent.

                        Talk to the doctors, teachers, relatives, and other adults in your kids lives about how to ask
                        for consent. Doing so will help ensure that your child is getting a sense of ownership over
                        their body from many sources, not just from their parent! And it may help adults interact with
                        other kids in their lives as well.

                        Report any suspected abuse.

                        If you suspect that a child in your life might be experiencing abuse, contact the ChildHelp
                        National Child Abuse Hotline by calling 1-800-4-A-CHILD. The confidential hotline can offer
                        resources, advice, and support with how to proceed. Like I said, talking about consent is an
                        important way to foster bodily-autonomy in children with disabilities, but it can’t necessarily
                        stop abuse–it’s just one part of creating a healthy culture around bodies and boundaries. If you
                        suspect something is wrong, you can get help
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    </p>
                </div>
                <div class="info">
                    <a href="">Educational blog</a>

                </div>
            </div>
            <div class="box">
                <img src="" alt="" />
                <div class="content">
                    <h3> Ten Incredible Stories of People Who Overcame their Disabilities to Achieve Greatness.</h3>
                    <p>Disabilities present challenges to millions of people around the world.

                        While some disabilities are harder to overcome than others, there are some pretty remarkable
                        stories out there of people who didn’t let their disabilities keep them from achieving.
                        Hearing about incredible achievements in the face of obstacles is inspiring no matter the
                        circumstance. When these accomplishments are credited to people with disabilities it can be even
                        more mesmerizing because the majority of people can’t even relate to the starting point, let
                        alone the end result. Here are just a few of these incredible people with jaw-dropping
                        determination.

                        Nick Vujicic

                        It doesn’t get more inspiring than Nick Vujicic. Vujicic was born in 1982 with no limbs. He
                        often recalls that as a child he suffered ridicule and discrimination. Things got so bad for
                        Nick that at one point he even attempted to commit suicide. With time, however, he learned to
                        see his potential.
                        Nick taught himself to improvise to accomplish several skills, including playing musical
                        instruments and using a computer.
                        In 2005, Nick founded Life Without Limbs in order to spread hope and inspiration around the
                        world. He currently gives motivational talks around the world, has written several books and is
                        a regular on talk shows and TV programs.
                        Nick’s fame spiked after starring in the touching short film The Butterfly Circus back in 2009.

                        Andrea Bocelli

                        Tenor, musician, writer, and musical producer of Italian origin, Andrea Boccelli has had an
                        exceptional music career and has sold more than 75 million records.
                        Boccelli was born with congenital glaucoma that made him partially blind from the beginning of
                        his life.
                        Identifying his musical talent, Boccelli’s parents arranged for him to take music lessons from a
                        young age. He studied the piano until the age of six despite his visual difficulties.
                        At age 12, the young Andrea suffered a serious injury during a football game. The effects of the
                        blow on top of his congenital impaired vision left him completely blind. Endowed with a special
                        spirit, he decided to focus entirely on music, specifically on singing. Boccelli became an
                        internationally acclaimed vocalist. He is one of the few artists ever that brought classical
                        music to the top of international pop charts.
                        Boccelli has received numerous international awards and even has a beach named after him on the
                        Adriatic coast.

                        Kyle Maynard
                        Despite being born with a rare condition known as congenital amputation that left him with arms
                        that end at the elbows and legs that end near his knees, Kyle learned early on to live life
                        independently.
                        Kyle’s feats are simply remarkable. In 2012, Kyle became the first quadruple amputee to climb
                        the 19,340 feet to the top of Mount Kilimanjaro without the aid of prosthetics. Four years later
                        in 2016, he reached the summit of Argentina’s Mount Aconcagua. Standing at 22,838 feet,
                        Aconcagua is the highest peak in both the Western and Southern Hemispheres. Many of Kyle’s
                        accomplishments are done to raise awareness for special causes such as injured veterans and
                        children in need.
                        Today, Kyle is a motivational speaker, author, entrepreneur, and ESPY award-winning mixed
                        martial artist.

                        Bethany Hamilton

                        In 2003, Bethany survived a shark attack in which she lost her arm.
                        Bethany didn’t let her injury keep her down. Already an avid surfer, Bethany was back in the
                        water within three to four weeks of the attack. She turned pro and has competed internationally
                        ever since, scoring six first-place trophies and several other prestigious sports awards over
                        the past fifteen years.
                        In addition to competing, Bethany runs courses on motivation and life transformation-based and
                        powered on her own experiences and inspirational story.

                        Mallory Weggemann

                        In 2008, Mallory Weggeman went to the hospital to receive her third and final epidural injection
                        that she was receiving to help treat back pain caused by postherpetic neuralgia.
                        Tragically, the operation went wrong. The treatment that was supposed to ease her debilitating
                        pain instead left Mallory a paraplegic with complete loss of movement from her abdomen down. She
                        was 18 years old.
                        Mallory had been an avid swimmer from her youth. She made the decision to not let her disability
                        take her away from what she loved. Less than a year and a half after returning to the pool,
                        Mallory broke her first set of world records at the 2009 Can-Am Speedo Para Swim Meet. Over the
                        next four years, she broke thirty-four American Records and fifteen World Records.
                        Mallory is a twelve-time World Champion and a two Paralympic Medalist from the London 2012
                        Games. She continues to travel the world competing in swim competitions and inspiring audiences
                        in speaking appearances across the globe.

                        Muniba Mazari

                        Muniba became confined to a wheelchair after a serious car accident in her native Pakistan that
                        severely damaged her spinal cord.
                        During her many months of rehabilitation, Muniba began discovering her artistic talent. She
                        painted self-expressive portraits as an outlet for her personal sorrow. Muniba’s unique and
                        vibrant style almost immediately attracted attention. She became a highly sought-after artist,
                        working on private contracts on a variety of projects in Pakistan and abroad.
                        As her fame grew due to her exceptional art and unique story, Muniba began to take up
                        motivational speaking and humanitarian activism. She has received numerous international awards
                        for her work over the years and is the first Goodwill Ambassador to UN Women from her home
                        nation of Pakistan.

                        Stephen Hawking

                        Hawkings was diagnosed with ALS (Lou Gehrig’s Disease) when he was 21 years old while still a
                        student at Cambridge. His doctors initially told him he had two years to live. He ended up
                        living with the disease for more than five decades.
                        One of the most well-known physicists in the world, Stephen Hawking had prestigious careers as a
                        theoretical physicist, cosmologist, author, and Director of Research at the Centre for
                        Theoretical Cosmology at the University of Cambridge.
                        One of his most famous books was A Brief History of Time and he is one of the few contemporary
                        physicists and researchers to transcend the world of scientists to become a household name
                        around the world.
                        Dr. Hawkings spent years paralyzed from head to toe. He communicated through a voice
                        synthesizer, which he operated with the use of a single cheek muscle. Hawking was able to
                        continue with his scientific research, publication, and lecturing. His contributions to his
                        field are numerous and include revolutionary new theories in physical cosmology. He was the
                        recipient of no fewer than fifteen major awards, nearly all of which earned long after his body
                        had become incapacitated by his ALS.
                        Hawking passed away in 2018 at the age of seventy-six.

                        Stevie Wonder

                        Stevie Wonder was born 6 weeks prematurely and the blood vessels in his eyes had not yet
                        developed. The oxygen-rich atmosphere in the hospital incubator resulted in retinopathy of
                        prematurity, a condition in which the growth of the eyes is aborted and causes the retinas to
                        detach causing blindness.
                        Despite being blind from birth, Stevie excelled at music from a young age. Stevie was identified
                        as a child prodigy and signed his first record label at age eleven. He has recorded more than 30
                        U.S. top ten hits including famous tracks like “Signed, Sealed, Delivered I’m Yours,”
                        “Superstition,” “You Are the Sunshine of My Life,” and “I Just Called to Say I Love You.” He has
                        over 25 Grammy Awards to his name.
                        Wonder has also spent years in political activism. He was one of the key campaigners to make
                        Martin Luther King Jr.’s birthday a national holiday in the U.S. In 1985, he was honored by the
                        United Nations for his stance against racism in South Africa. In 2009, he was named a United
                        Nations Messenger of Peace for his years of efforts in peaceful political causes.

                        Michael J. Fox

                        Michael J. Fox was diagnosed with Parkinson’s Disease when he was 29 years old, after already
                        achieving worldwide fame for his roles in the Back to the Future movies and the television show
                        Family Ties.
                        Despite being told he should retire, Fox continued with his acting career and went on to produce
                        several well-received productions over the next ten years including the wildly popular sitcom,
                        Spin City. Fox retired from full-time acting in 2000.
                        Since retirement, Fox has thrown most of his energy into advocacy for those living with
                        Parkinson’s disease. His foundation has raised over $230 million for Parkinson’s research.

                        A Little Inspiration Goes a Long Way

                        If there’s one thing these and similar stories show, it’s the amazing potential of all people,
                        regardless of their physical abilities--or lack thereof. It’s people like these, and millions
                        more, that inspire us at accessiBe to do what we do. We believe in the importance of giving all
                        individuals access to the information technologies that define our age and won’t let anything
                        stand in our way, either.
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

                    </p>
                </div>
                <div class="info">
                    <a href=""> Inspirational blog</a>

                </div>
            </div>
            <div class="box">
                <img src="" alt="" />
                <div class="content">
                    <h3> Four inspiring stories you must know.</h3>
                    <p>we compile stories of people who have not only overcome their disabilities but also turned it to
                        their advantage.
                        A painter who doesn't need eyes to draw, an armless man on a mission to plant thousands of
                        trees, a guy with Down Syndrome who wanted to go up in life since childhood and a double amputee
                        who set new records for planche push-ups--on World Disability Day, we compile stories of people
                        who have not only overcome their disabilities but also turned it to their advantage.

                        <br> 1. A visually impaired man who became a painter after losing his sight
                        John Bramblitt, 44, from Denton, Texas lost his eyesight in 2001 due to epilepsy and Lyme's
                        disease Picture Courtesy: Facebook/HLN

                        John Bramblitt, 44, from Denton, Texas lost his eyesight in 2001 due to epilepsy and Lyme's
                        disease. His plans of becoming a creative writing teacher abruptly came to a halt and he slipped
                        into depression. However, he soon developed another interest that turned into his career and
                        purpose of life--painting. He gradually learnt to work on canvas using haptic visualisation and
                        found his true calling.
                        In hindsight, Bamblitt realised the experience made him happier than before. "It wasn't until
                        after I lost my eyesight that I wasn't afraid to fail anymore. The first step into my art career
                        was going blind. And I'm happier than I've ever been in my life," he says in a video.
                        So, if you can visualise your success in your head, nothing can stop you.
                        <br>2. A visually impaired man and his armless friend plant 10,000 trees in a decade

                        Jia Haixia, visually impaired, and Jia Wenqi, a double amputee, literally complete each other as
                        they go about planting trees in the barren area of Yeli Village in northeastern China. Their
                        mission is to save the village from flooding. They have been doing this for more than a decade.
                        Haixia was born with vision in only one eye, and lost the other eye in an accident. Wenqi lost
                        his arms in an accident too. The duo claim they have planted more than 10,000 trees in 10 years.
                        So, the bottomline is, if you have a goal clear in your mind, you will find a way to overcome
                        your weakness.

                        <br>3.A man with Down Syndrome becomes the first American to own a restaurant.
                        Tim Harris, who was born with Down syndrome knew what he wanted to do since the age of 14


                        He is one of the happiest people you will ever meet and the first one in America with Down
                        Syndrome to run a restaurant. Tim Harris, who was born with the disorder, knew what he wanted to
                        do since the age of 14 and even shared his dream with his dad. Now that he has achieved his
                        goal, he starts his day at 5:30 in the morning, and then dances in the parking lot before
                        starting his day's work at his restaurant, where he hugs each of his customers.
                        All of us have a lesson in here--follow your passion, and the rest will follow.
                        <br>4. Double amputee breaks world record for planche push-ups, rides horses and can ski
                        Temur Dadiani, a soldier, lost both his legs to a landmine accident in Afghanistan. But that
                        didn't stop him from breaking the Guinness World Record for planche push-ups. He completed 36
                        repetitions in only 38.25 seconds and later broke his own record by completing 44 push-ups in a
                        minute. What's more? He can ski using special equipment and can ride a horse too.
                        Hats off to him
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

                    </p>
                </div>
                <div class="info">
                    <a href="">Inspirational blog</a>

                </div>
            </div>
            <div class="box">
                <img src="" alt="" />
                <div class="content">
                    <h3> HOW TO ENCOURAGE POSITIVE BEHAVIORS FOR PEOPLE WITH DISABILITIES </h3>
                    <p> The goal for everyone involved in helping care for someone with disabilities is helping them
                        achieve their best life possible, but that can be difficult to do alone. Not only are there
                        tangible skills but also social behaviors that need to be corrected, encouraged, or redirected.
                        It is the responsibility of the caregiver to recognize when a client has become too withdrawn,
                        or overly dependent on the caregiver and to take the necessary steps to restore positive
                        behaviors, increase their independence, and ultimately restore as much as possible of an active,
                        healthy and quality lifestyle.
                        The following outline will provide insights to help caregivers and home health professionals
                        recognize when their clients are regressing into antisocial, or negative behavior.
                        There are also suggested techniques to help clients overcome negative behaviors.
                        WATCH FOR BEHAVIORAL INDICATORS

                        Inability to focus on activities like personal care, watching television or interacting with
                        others.

                        Inattentiveness when being spoken to.

                        Lack of interest in eating meals or talking to others.

                        People who live with loved ones may unknowingly be exposed less to different socializing
                        activities, and they may become sensitive or resistant to new experiences or activities.

                        Reluctance to leave the home.

                        Not going to stores or engaging in outdoor activities.

                        Not wanting to be taken anywhere, even a short drive or walk.
                        ADOPT POSITIVE INTERACTIVE TRAITS

                        Focus your full attention on the person.

                        Try to encourage the other person to respond.

                        Always maintain an open and accepting attitude. This means being careful not to use negative
                        gestures or phrases like ” Do not say that”.

                        A light approach is often beneficial, rather than a stern demeanor. Some light conversation
                        about simple things like the surroundings, the day outside or the upcoming meal might be
                        appropriate.

                        Always remain calm and in control. Remember, people with mental or emotional challenges can
                        exhibit spontaneous behaviors. It is your responsibility as a caregiver to remain calm under all
                        circumstances.

                        Always remain positive. Avoid any statements that seem negative.

                        Avoid being overly sympathetic or condescending.

                        A relaxed posture is a ” Body Language” technique that will transfer to the person you are
                        talking to. Be careful not to be too aggressive and not to intrude into their ” Space” which may
                        cause anxiety.

                        ENCOURAGE POSITIVE BEHAVIOR

                        Encourage participation in family events. Community events, neighborhood gatherings, Church and
                        other organized events are all positive experiences.

                        Encourage the development of friendships. Create play dates and find others that can
                        participate.

                        Young adults need to complete all academic and homework assignments. Loss of interest in school
                        work is one of the first indicators of a deeper issue.

                        With adults watch for loss of interest in work, hobbies, favorite sports or activities.

                        Encourage participation in sporting events. Physical participation is an excellent way to
                        encourage healthy interaction with others.

                        Sometimes a simple surprise like a vase of flowers, a new magazine, or a treat to a favorite
                        meal or dessert is all it takes to rekindle a joyous feeling.

                        These are the responsibilities of the caregiver and seeing someone recover from negative
                        behavior to a positive and happy lifestyle is as rewarding for the caregiver as it is for the
                        person with a disability.
                        We provide services for people with disabilities including residential settings, day programs,
                        employment assistance, managed care, and home and community-based services
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    </p>
                </div>
                <div class="info">
                    <a href="">Inspirational blog</a>

                </div>
            </div>
            <div class="box">
                <img src="" alt="" />
                <div class="content">
                    <h3> Empowering egyptian Women with Disabilities for Better Employment Opportunities.</h3>
                    <p>n March 2020, UN Women and the United Nations Industrial Development Organization (UNIDO)
                        launched a Joint Program for the ‘Economic Empowerment of Women for Inclusive and Sustainable
                        Growth in Egypt.’ Among the program’s intended beneficiaries are Egyptian women living with
                        disabilities, who count among the country’s most disadvantaged minorities.
                        In a webinar entitled Empowering Women with Disabilities for Better Employment Opportunities,
                        policy experts and disability rights advocates came together to discuss the objectives and
                        implementation of that program. The webinar was held as part of the United Nations 16 Days of
                        Activism Against Gender-Based Violence, and hosted by the American University in Cairo’s School
                        of Global Affairs and Public Policy (GAPP).
                        GAPP Executive Education director Dina Wafa launched the event by presenting the objectives of
                        the Joint Program, which is set to be implemented over five years with support from Global
                        Affairs Canada, and in partnership with local institutions, including the Egyptian Ministry of
                        Trade and Industry and the National Council for Women. Over a period of two years, the GAPP
                        Executive Education, in partnership with Helm and Al Hassan foundations, will provide
                        professional training to 1000 women, of whom 300 are living with disabilities.
                        UN Women Program Specialist Nora Rafea cited the quality of education provided at AUC and the
                        university’s cooperation with Helm and Al Hassan foundations as the two main reasons for the
                        collaboration, stating, “we wanted to partner up with entities who could reach out to
                        marginalized groups and provide them with quality educational programs. Our priority is quality.
                        We don’t just want to provide training, we want to provide quality training.”
                        Throughout the discussion, panelists laid out the various challenges faced by differently abled
                        women in the job market and beyond, avenues for their integration into the workforce, and
                        pathways for the creation of more inclusive and accessible work environments.

                        Obstacles to differently abled women’s employment

                        “Women with disabilities are doubly marginalized, both as differently abled persons and as
                        women,” explained Parliamentarian and Member of the National Council for women Heba Hagrass.
                        Indeed, Egyptian women living with disabilities face greater educational and employment barriers
                        than differently abled men, or their able bodied counterparts. Surveys find that 82 percent of
                        them are outside the workforce. World Bank statistics further show that differently abled women
                        are ten times more susceptible to gender-based violence, a fact which largely correlates with
                        their economic disenfranchisement.
                        “The most hindering of obstacles are, ultimately, the barriers that society and job markets
                        place before differently abled persons,” said Amina El Saie, co-founder of the organization
                        Helm, which provides professional coaching services for the inclusion of persons with
                        disabilities in the workplace. The first challenge to differently abled women’s employment, in
                        her view, lies within the hiring process itself. Employers will often reconsider offering work
                        to an applicant after finding out that they are differently abled, especially if the applicant
                        is female and therefore presumed to be bound by more familial obligations. This issue is
                        especially prevalent in the industry sector or in jobs requiring lengthy working hours.
                        Yet, even those women who do find employment continue to face ample barriers within the
                        workplace.
                        “A big part of the challenge facing differently abled people is transportation to their
                        workplace,” noted May Zein El Din, founder and CEO of Al Hassan Foundation for Differently Abled
                        Inclusion. Through her work, Zein El Din has learned that finding adequate transportation to and
                        from work can be highly challenging for differently abled employees, who may have to spend more
                        than they earn to cover the cost of their commute. These financial barriers often result in
                        absenteeism or resignation, misleading employers to believe that the employee is unmotivated or
                        uninterested in working.
                        Furthermore, many workplaces in Egypt are not properly equipped to accommodate people with
                        disabilities, lacking such infrastructure as ramps, elevators, or accessible restrooms which
                        would allow their differently abled employees to navigate their environment with more ease.
                        And yet, as El Saie notes, women with disabilities may often be reluctant to voice these
                        concerns for fear of being perceived as weak or vulnerable. This, in turn, leads them to turn
                        down opportunities or resign despite possessing adequate qualifications for a given position.
                        Zeineldin and El Saie’s concerns were echoed by Hagrass, who pointed to low education levels as
                        yet additional structural barriers impeding differently abled women in Egypt. Of the country’s
                        roughly ten million citizens living with disabilities, only 2 percent receive formal education.
                        The resulting high rates of illiteracy, she says, “bar their access to work, and by extension,
                        to dignified living.”
                        Much of the challenges faced by differently abled women, begin within their own families.
                        “Parents of girls with disabilities are terrified of seeing their daughters exposed to violence,
                        and especially sexual violence,” Hagrass says.
                        Women living with disabilities are statistically far more susceptible to sexual violence than
                        their able bodied counterparts. Nonetheless, as Hagrass remarked, anxieties surrounding
                        sexual violence often lead parents to restrict their differently abled daughters’ mobility
                        outside the home environment. This means they are less likely to attend school or be allowed to
                        search for employment.

                        Paving the way toward greater inclusion

                        Legislation
                        Though women with disabilities continue to face substantial employment barriers, a number of
                        actors have come together to create a more inclusive and accessible job market.
                        First among them is the Egyptian legislature. Egypt is party to several international
                        conventions on disability, providing protection to differently abled workers, including minors
                        in the workforce. Law 10/2018 was passed in implementation of these conventions, and under the
                        umbrella of the UN Sustainable Development Goals, in March 2018.
                        Hagrass, who participated in its writing, explained that the law requires firms employing twenty
                        or more people to ensure that at least five percent of their employees are differently abled. It
                        also provides tax benefits to companies which exceed this standard, while imposing a fine on
                        companies which fail to meet it. The sum of this fine increases the further a company strays
                        from the required number of differently abled employees, and the longer they fail to remedy this
                        gap.
                        “The focus on small enterprises is especially important,” said Hagrass, explaining that
                        technological progress increasingly allows employers to reduce the number of people working
                        within their companies. “If each of these twenty-person enterprises employs one person with
                        disabilities, there will be infinitely more opportunities for differently abled people,” she
                        added.
                        Awareness
                        “Awareness, awareness, awareness,” said Hagrass, noting that greater public awareness is needed
                        to back the above-mentioned legislative efforts.
                        Though differently abled women’s social and labor rights are protected by Egyptian law, most
                        women’s families are uninformed as to the nature and extent of these protections. Hence their
                        reluctance to allow their daughters to seek education and employment. For this reason, the
                        National Council for Women launched an initiative titled You Are Protected by the Law (Hemaytek
                        fi Kanoonek). The campaign, explained Hagrass, consists of posters and educational materials
                        depicting instances of violence against women with disabilities.
                        Each of the images bears a short caption explaining that legislation protects women from this
                        particular form of violence.
                        “The point of the campaign is not only to let women know that they are protected by the law, but
                        also to let predators know that they will not get away with harming differently abled women,”
                        she added.
                        As part of the UN’s 16 Days of Activism Against Gender-Based Violence, the National Council for
                        Women launched a second campaign titled Code of Professional Conduct for the Protection of Women
                        with Disabilities. The purpose of the campaign, explained Hagrass, is to educate professionals
                        about how to deal with colleagues and employees living with disabilities. It is also meant to
                        instruct differently abled people on how to request and obtain the accommodations to which they
                        are entitled in the workplace, and increase their awareness of services available to them.
                        Of course, no one is better equipped to raise awareness about the challenges facing women with
                        disabilities than differently abled women themselves.
                        In line with this reasoning, Al Hassan Foundation employs a majority staff of differently abled
                        persons. “We decided to employ differently abled persons in our own organization before reaching
                        out to companies. This allowed us to be better aware of the challenges that these women face,”
                        said founder and CEO Zein El Din, adding that over 70 percent of those working for the
                        organization are people with disabilities, of whom 50 percent are women. Women with disabilities
                        also comprise 50 percent of Al Hassan’s board of trustees.
                        Helm similarly works to center the voices of differently abled persons in their training
                        programs and awareness campaigns. “Part of this training is activities designed to help people
                        put themselves in differently abled colleagues’ shoes,” explained Al Saie. Throughout those
                        activities, participants are guided by people with disabilities. The purpose of this is to help
                        participants realize that those living with disabilities are just as capable as themselves, and
                        can be in charge of leading and training their able bodied colleagues.
                        Training and accomodation
                        Drawing on Al Hassan foundation’s past initiatives, Zein El Din went on to demonstrate how
                        strong awareness campaigns can lay the ground for more hands-on professional training.
                        Over the past year, the organization found employment for 65 women with disabilities through its
                        Livelihood Project (Mashrou’ Masdar Rizk). Several of these women were hired by partner banks
                        and other companies. Many, however, were not formally educated and therefore lacked the
                        qualifications for this type of work. To remedy this, the women were offered short-term
                        employment within Al Hassan foundation, during which time they received proper training before
                        applying for other opportunities.
                        The organization also worked to accomodate the needs of women living in remote areas, or those
                        whose disabilities prevent them from pursuing higher education, by helping them to establish
                        small-scale projects in line with their qualifications and interests.
                        “Some of them cannot pursue higher education, but come from rural areas and are able to work in
                        agriculture. Others have found work selling hand-made textile products. The key is to keep an
                        open mind in order to help each woman find the work that best suits her,” Zein El Din explained.
                        Rafea echoed the assertion that those looking to generate opportunities for women with
                        disabilities should take into account the particular needs arising from each woman’s
                        circumstances.
                        “Our methodology for [the Joint Program] is not to look at women as a homogenous group. This is
                        something we learned from our projects conducted over the past ten years. We cannot compare the
                        needs of women in rural and urban areas, nor can we compare those of women living in Alexandria
                        versus Bani Suef. Each region has its peculiarities,” she explained.
                        Rafae further noted the significant heterogeneity within the differently abled population, and
                        underlined the importance of implementing programs that respond to the needs of people living
                        with different types and degrees of disability.
                        All participants shared the view that efficient training should not only target women with
                        disabilities, but also equip organizations to accommodate their differently abled employees’
                        needs.
                        Rafae noted that one of the Joint Program’s main objectives is to increase companies and
                        employers’ ability to accomodate people with disabilities, saying, “we want to show them that it
                        is not as complicated as they think, they can easily make their environments more accessible to
                        differently abled people.”
                        Al Saie outlined ways in which Helm is already working towards this objective, stating that
                        “besides the work we do to generate employment opportunities, we also work to equip professional
                        environments to assist and enable professional growth for differently abled people.” Examples of
                        this include creating special units within the Human Resources body of a company, specialized in
                        assisting differently abled employees.
                        Inclusive, adequately equipped work environments are key to allowing differently abled women
                        equal opportunities for professional development and promotion, added Zein El Din. “If we
                        provide these women and girls with opportunities and avenues for professional growth, they can
                        excel. With the proper support, there is nothing stopping them from finding work in Egypt or
                        even abroad,” she concluded.

                    </p>
                </div>
                <div class="info">
                    <a href="">Inspirational blog</a>

                </div>
            </div>
        </div>
    </div>
    <div class="spikes"></div>
    <!-- End Articles -->
    <!-- Start Events -->
    <div class="events" id="events">
        <div class="dots dots-up"></div>
        <!-- <div class="dots dots-down"></div> -->
        <h2 class="main-title">Latest Events</h2>
        <div class="container">
            <img src="/imgs/event0.webp" alt="" />
            <div class="info">
                <div class="time">
                    <div class="unit">
                        <span class="days"></span>
                        <span>Days</span>
                    </div>
                    <div class="unit">
                        <span class="hours"></span>
                        <span>Hours</span>
                    </div>
                    <div class="unit">
                        <span class="minutes"></span>
                        <span>Minutes</span>
                    </div>
                    <div class="unit">
                        <span class="seconds"></span>
                        <span>Seconds</span>
                    </div>
                </div>
                <h2 class="title">Disability Awareness Day 2022</h2>
                <p class="description">
                    International Day of Persons with Disabilities falls on the 3rd of December each year, with the aim
                    of promoting empowerment, and helping to create real opportunities for people with disabilities.
                    This enhances their own capacities and supports them in setting their own priorities.
                </p>
            </div>
            <div class="subscribe">
                <form action="">
                    <input type="email" placeholder="Enter Your Email" />
                    <input type="submit" value="Subscribe" />
                </form>
            </div>
        </div>
    </div>
    <!-- End Events -->
    <!-- Start Footer -->
    <div class="footer" id="footer">
        <div class="container">
            <div class="box">
                <h3>Warm Hands</h3>
                <ul class="social">
                    <li>
                        <a href="#" class="facebook">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="twitter">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="youtube">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                </ul>
                <p class="text">
                    Follow us on social media to get the latest news.
                </p>
            </div>
            <div class="box">
                <ul class="links">
                    <li><a href="Signup.html" target="_blank">Sign up</a></li>
                    <li><a href="Signin .html" target="_blank">Sign in</a></li>
                    <li><a href="aboutus.html" target="_blank">About us</a></li>
                    <li><a href="#">FAQs</a></li>

                </ul>
            </div>
            <div class="box">
                <div class="line">
                    <i class="fas fa-map-marker-alt fa-fw"></i>
                    <div class="info">Egypt, Cairo, Abu El-feda street, no43</div>
                </div>
                <div class="line">
                    <i class="far fa-clock fa-fw"></i>
                    <div class="info">Business Hours: From 10:00 To 18:00</div>
                </div>
                <div class="line">
                    <i class="fas fa-phone-volume fa-fw"></i>
                    <div class="info">
                        <span>+2011121314151</span>
                        <span>+0223456789</span>
                    </div>
                </div>
                <div class="line">
                    <i class="fa-solid fa-at"></i>
                    <div class="info">
                        <span>Warmhands22@gmail.com</span>

                    </div>
                </div>
            </div>

        </div>
        <p class="copyright">Warm Hands</p>
    </div>
    <!-- End Footer -->
    <script src="/main.js"></script>
</body>

</html>